<script>
    console.log("Hello, my-scripts!");

    function toggleSummary(id) {
      var content = document.getElementById(id);
      var title = content.previousElementSibling;
  
      if (content.style.display === "none") {
        content.style.display = "block";
        title.textContent = "▼ TL;DR:";
      } else {
        content.style.display = "none";
        title.textContent = "▶ TL;DR:";
      }
    }
    
    document.addEventListener('DOMContentLoaded', function () {
      document.querySelectorAll('.collapsible-content').forEach(div => div.style.display = 'none');
      
      // 处理重复的标题
      const titles = document.querySelectorAll('h1.page-title, h1.post-title');
      if (titles.length > 1) {
        for (let i = 1; i < titles.length; i++) {
          titles[i].style.display = 'none';
        }
      }
      
      // 隐藏描述部分
      const descriptions = document.querySelectorAll('.description');
      descriptions.forEach(desc => {
        desc.style.display = 'none';
      });
    });
</script>